.jumbotron
  %h1 Blocipedia: Social, Markdown Wikis
  %p With Blocipedia you can create private and public wikis that you can share with your colleagues or friends!
  %p Create as many public wikis as you want with our Free Plan.
  %p Create private wikis with our #{link_to("Premium Plan", :new_charge)}

= link_to 'Show My Wikis', wikis_path